#background {-fx-background-color: white;}
#background2 {-fx-background-color: white;}
#background3 {-fx-background-color: white;}
#background4 {-fx-background-color: white;}
#Menu {-fx-background-color: white; -fx-border-color: orange;}
#loginBtn {-fx-background-color: white; -fx-border-color: orange;}
#Apply {-fx-background-color: white; -fx-border-color: orange;}
#Howwork {-fx-background-color: white; -fx-border-color: orange;}
#Recipe {-fx-background-color: white; -fx-border-color: orange;}
#Login {-fx-background-color: white; -fx-border-color: orange;}
#join {-fx-background-color: white; -fx-border-color: orange;}


#Start {-fx-background-color: darkorange;}
#Seemenu {-fx-background-color: darkorange;}
#CookingRedesigend {-fx-border-color: darkorange; -fx-border-radius: 20px; -fx-background-color: whitesmoke;}
#BroweOurRecipes {-fx-border-color: darkorange; -fx-border-radius: 20px; -fx-background-color: whitesmoke;}
#Receive {-fx-background-color: white; -fx-opacity: 1; }
#footer {-fx-background-color: darkorange; -fx-opacity: 0.7; -fx-font-weight: bold;}


#thisweek {-fx-background-color: white; -fx-border-color: seagreen; -fx-border-radius: 10px 0 0 10px;}
-fx-a:hover.thisweek{background-color: seagreen;}
#nextweek {-fx-background-color: white; -fx-border-color: seagreen; -fx-border-radius: 0 10px 10px 0;}



#sidemenutop {-fx-background-color: seagreen;}
#sidemenu {-fx-border-color: seagreen; -fx-border-radius: 0 0 20px 20px; -fx-background-color: white;}
#twofamily {-fx-background-color: white; -fx-border-color: seagreen; -fx-border-radius: 10px 0 0 10px;}
#fourfamily {-fx-background-color: white; -fx-border-color: seagreen; -fx-border-radius: 0 10px 10px 0;}
#Apply2 {-fx-background-color: white; -fx-border-color: seagreen; -fx-border-radius: 10px 10px 10px 10px;}