#photo1 {-fx-border-color: darkgray;}
#photo2 {-fx-border-color: darkgray;}
#photo3 {-fx-border-color: darkgray;}
#photo4 {-fx-border-color: darkgray;}
#photo5 {-fx-border-color: darkgray;}
#photo6 {-fx-border-color: darkgray;}
#photo7 {-fx-border-color: darkgray;}
#photo8 {-fx-border-color: darkgray;}
#photo9 {-fx-border-color: darkgray;}
#photo10 {-fx-border-color: darkgray;}
#photo11 {-fx-border-color: darkgray;}
#get2 {-fx-background-color: orangered; -fx-opacity: 0.7;}