#Menu {-fx-background-color: white; -fx-border-style: solid; -fx-border-color: orange;}
#Price {-fx-background-color: white; -fx-border-style: solid; -fx-border-color: orange;}
#Howwork {-fx-background-color: white; -fx-border-style: solid; -fx-border-color: orange;}
#Recipe {-fx-background-color: white; -fx-border-style: solid; -fx-border-color: orange;}
#thisweek {-fx-background-color: white; -fx-border-style: solid; -fx-border-color: coral;}
#nextweek {-fx-background-color: white; -fx-border-style: solid; -fx-border-color: coral;}
#twofamily {-fx-background-color: white; -fx-border-style: solid; -fx-border-color: coral;}
#fourfamily {-fx-background-color: white; -fx-border-style: solid; -fx-border-color: coral;}
#apply {-fx-background-color: white; -fx-border-style: solid; -fx-border-color: coral;}